{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>{{user.place}}</h1>
        <p>Gerencie suas mesas e gere as URLs</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Mesas</h2>
            <table class="table table-striped">
              <tr>
                <th>No.</th>
                <th>URL</th>
                <th>QRCode</th>
                <th>Apagar</th>
              </tr> 
              {% for table in tables %}
                <form class="form-inline" action="/account/deletetable">
                  <tr>
                    <td>{{table.number}}</td> 
                    <td>{{table.url}}</td>
                    <td><a href="{{url_for('static', filename=table.qrc)}}" target="_blank">
                      <img src="{{url_for('static', filename=table.qrc)}}" width="50"></a></td> 
                    <td> <input type="submit" value="Delete" class="form-control"></td>
                    <input type="text" name="tableid" value="{{table._id}}" hidden> 
                  </tr>
                </form>
              {% endfor %}
            </table>

          <h2>Adicione uma nova mesa</h2>
          <form class="form-inline" action="/account/createtable" method="POST">
            <div class="form-group">
              {% if createtableform.tablenumber.errors %} 
                <ul class="errors"> 
                  {% for error in createtableform.tablenumber.errors %} 
                    <li>{{error}}</li> 
                  {% endfor %} 
                </ul> 
              {% endif %}
              {{ createtableform.csrf_token}}
              {{ createtableform.tablenumber(class="form-control", placeholder="Número ou nome da mesa")}}
              {{ createtableform.submit(value="Create", class="btn btn-primary") }}
            </div>
          </form>
        </div>    
      </div>
      <br>
      <section>
        <div class="product">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14px" height="16px" viewBox="0 0 14 16" version="1.1">
              <defs/>
              <g id="Flow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="0-Default" transform="translate(-121.000000, -40.000000)" fill="#E184DF">
                      <path d="M127,50 L126,50 C123.238576,50 121,47.7614237 121,45 C121,42.2385763 123.238576,40 126,40 L135,40 L135,56 L133,56 L133,42 L129,42 L129,56 L127,56 L127,50 Z M127,48 L127,42 L126,42 C124.343146,42 123,43.3431458 123,45 C123,46.6568542 124.343146,48 126,48 L127,48 Z" id="Pilcrow"/>
                  </g>
              </g>
          </svg>
          <div class="description">
            <h3>Plano Básico</h3>
            <h5><del>R$37,00</del> $27,00 / mês</h5>
          </div>
        </div>
        <form action="/create-checkout-session" method="POST">
          <!-- Add a hidden field with the lookup_key of your Price -->
          <input type="hidden" name="lookup_key" value="basic" />
          <input type="hidden" name="customer" value="{{user.email}}" />
          <button id="checkout-and-portal-button" type="submit">Adquirir</button>
        </form>
      </section>
      <script src="https://js.stripe.com/v3/"></script>
    </div>
{% endblock %}
