{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>{{user.place}}</h1>
        <p>Gerencie suas mesas e gere as URLs</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Mesas</h2>
            <table class="table table-striped">
              <tr>
                <th>No.</th>
                <th>URL</th>
                <th>QRCode</th>
                <th>Apagar</th>
              </tr> 
              {% for table in tables %}
                <form class="form-inline" action="/account/deletetable">
                  <tr>
                    <td>{{table.number}}</td> 
                    <td>{{table.url}}</td>
                    <td><a href="{{url_for('static', filename=table.qrc)}}" target="_blank">
                      <img src="{{url_for('static', filename=table.qrc)}}" width="50"></a></td> 
                    <td> <input type="submit" value="Delete" class="form-control"></td>
                    <input type="text" name="tableid" value="{{table._id}}" hidden> 
                  </tr>
                </form>
              {% endfor %}
            </table>

          <h2>Adicione uma nova mesa</h2>
          <form class="form-inline" action="/account/createtable" method="POST">
            <div class="form-group">
              {% if createtableform.tablenumber.errors %} 
                <ul class="errors"> 
                  {% for error in createtableform.tablenumber.errors %} 
                    <li>{{error}}</li> 
                  {% endfor %} 
                </ul> 
              {% endif %}
              {{ createtableform.csrf_token}}
              {{ createtableform.tablenumber(class="form-control", placeholder="Número ou nome da mesa")}}
              {{ createtableform.submit(value="Adicionar", class="btn btn-primary") }}
            </div>
          </form>
        </div>    
      </div>
      <br>
      <div class="grid-container">
        <div class="grid-item">
          <section>
            <div class="product">
              <div class="description">
                <h3>Plano Básico</h3>
                <h5><del>R$37,00</del> $27,00 / mês</h5>
              </div>
            </div>
            <form action="/create-checkout-session" method="POST">
              <!-- Add a hidden field with the lookup_key of your Price -->
              <input type="hidden" name="lookup_key" value="teste" />
              <input type="hidden" name="customer" value="{{user.stripe_id}}" />
              <button id="checkout-and-portal-button" type="submit" class="btn btn-primary">Adquirir</button>
            </form>
          </section>
        </div>
        <div class="grid-item">
          <section>
            <div class="product">
              <div class="description">
                <h3>Plano Premium</h3>
                <h5><del>R$73,00</del> $53,00 / mês</h5>
              </div>
            </div>
            <form action="/create-checkout-session" method="POST">
              <!-- Add a hidden field with the lookup_key of your Price -->
              <input type="hidden" name="lookup_key" value="prod_NNO1T27W3jKmxn" />
              <input type="hidden" name="customer" value="{{user.stripe_id}}" />
              <button id="checkout-and-portal-button" type="submit" class="btn btn-primary">Adquirir</button>
            </form>
          </section>
        </div>
    </div>
      <script src="https://js.stripe.com/v3/"></script>
    </div>
{% endblock %}
