{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>{{user.place}}</h1>
        <h2>Gerencie aqui as suas mesas.</h2> 
        <p>Gere um QRcode para cada mesa, imprima-os e coloque-os sobre as mesas correspondentes.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Mesas</h2>
            <table class="table table-striped">
              <tr>
                <th>No.</th>
                <th>URL</th>
                <th>QRCode</th>
                <th>Apagar</th>
              </tr> 
              {% for table in tables %}
                <form class="form-inline" action="/account/deletetable">
                  <tr>
                    <td>{{table.number}}</td> 
                    <td>{{table.url}}</td>
                    <td><a href="{{url_for('static', filename=table.qrc)}}" target="_blank">
                      <img src="{{url_for('static', filename=table.qrc)}}" width="50"></a></td> 
                    <td> <input type="submit" value="Delete" class="form-control"></td>
                    <input type="text" name="tableid" value="{{table._id}}" hidden> 
                  </tr>
                </form>
              {% endfor %}
            </table>

          <h2>Adicione uma nova mesa</h2>
          <form class="form-inline" action="/account/createtable" method="POST">
            <div class="form-group">
              {% if createtableform.tablenumber.errors %} 
                <ul class="errors"> 
                  {% for error in createtableform.tablenumber.errors %} 
                    <li>{{error}}</li> 
                  {% endfor %} 
                </ul> 
              {% endif %}
              {{ createtableform.csrf_token}}
              {{ createtableform.tablenumber(class="form-control", placeholder="Número ou nome da mesa")}}
              {{ createtableform.submit(value="Adicionar", class="btn btn-primary") }}
            </div>
          </form>
        </div>    
      </div>
      <div>
      <a href="https://billing.stripe.com/p/login/test_4gw3g14Pi1lh1vqbII?prefilled_email={{user.email}}">Gerencia a sua conta!</a>
      </div>
      <br>
      
      <!--script src="https://js.stripe.com/v3/"></script>
      <script async src="https://js.stripe.com/v3/pricing-table.js">
  </script>
  <stripe-pricing-table
    pricing-table-id="prctbl_1MeJqgLTnqwraNUokeytxVz3"
    publishable-key="pk_test_51Mb5emLTnqwraNUo0xADEcywQe9gO37lDvstvmldM9a0aUfqgmSK1iTUQc0Zi213LHZ8C3lqheZ4AR60kjqCjR7100vKVrgOtY"
    client-reference-id="{{user.stripe_id}}"
    custumer-email="{{user.email}}"
  >
  </stripe-pricing-table-->
   
    </div>
{% endblock %}
