<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 1.5;
        color: #333;
        text-align: center;
      }

      a {
        color: #337ab7;
        text-decoration: none;
      }

      h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 16px;
      }

      .logo {
        display: block;
        margin: 32px auto 16px;
      }
    </style>
  </head>
  <body>
    <img class="logo" src="{{ url_for('static', filename = 'images/logo_aeria.jpg') }}" alt="Aer.IA Creative Solutions">
    <h1>Olá,</h1>
    <p>Espero que você esteja tendo um ótimo dia! Quero agradecer por se registrar em nosso site. Para garantir que você esteja recebendo todas as atualizações importantes e ofertas exclusivas, por favor, confirme o seu endereço de e-mail clicando no link abaixo:</p>
    <p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
    <p>A confirmação do seu endereço de e-mail é importante para que possamos garantir que você esteja recebendo informações relevantes sobre nossos produtos e serviços. Se tiver alguma dúvida ou precisar de ajuda, por favor, não hesite em entrar em contato conosco.</p>
    <p>Obrigado por se juntar a nós!</p>
    <p>Atenciosamente,</p>
    <p>[Seu nome]</p>
  </body>
</html>
