{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Fale conosco</h1>
    <form class="navbar-form navbar-right" action="/enviar" method="POST">
        {{ form.csrf_token }}
          
        <p>
            {{ form.name.label }} 
            <br>
            {{ form.name }}
        </p>


          
        <p>
            {{ form.email.label }} 
            <br>
            {{ form.email(size=30) }}
        </p>


          
        <p>
            {{ form.message.label }} 
            <br>
            {{ form.message }}
        </p>

        {{ form.submit }}
    </form>
</div>

{% endblock %}