{% extends "base.html" %}

{% block metarefresh %} <meta http-equiv="refresh" content="10" > {% endblock %}
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Controle de chamados</h1>
        <p>Veja todos os chamados abaixo</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Chamados</h2>
          {% if requests %}
            <div class="grid-container">
              {% for request in requests %}
                <div class="grid-item">
                  <form class="form-inline" action="/dashboard/resolve">
                    <h3>{{request.table_number}}</h3>
                    <br>
                    <p>Espera: <b>{{request.wait_minutes}}</b> minutos</p>
                    <br>
                    <input type="text" name="request_id" value="{{request._id}}" hidden>
                    <input type="submit" value="Atender" class="btn btn-primary">
                  </form>
                </div>
              {% endfor %}
            </div>
            <!--audio id="myAudio" autoplay>
                <source src="{{ url_for('static', filename = 'sounds/alert.wav') }}" type="audio/mpeg" >
            </audio>
            <br>
            <button id="myBtn" class="btn btn-primary btn-lg">Pausar a campainha</button-->
        
            <script>
              const audio = document.getElementById("myAudio");
              const btn = document.getElementById("myBtn");
        
              // Check if audio was paused on last visit
              if (localStorage.getItem("audioPaused") === "true") {
                audio.pause();
                btn.innerHTML = "Ativar a campainha";
              }
        
              btn.addEventListener("click", function() {
                if (audio.paused) {
                  audio.play();
                  btn.innerHTML = "Pausar a campainha";
                  localStorage.setItem("audioPaused", false);
                } else {
                  audio.pause();
                  btn.innerHTML = "Ativar a campainha";
                  localStorage.setItem("audioPaused", true);
                }
              });
            </script>
          {% else %}
            <p>Todos os clientes estão satisfeitos no momento - nenhum chamado!</p>
          {% endif %}
            
        </div>
    </div>
  </div>
{% endblock %}
