<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Política de Privacidade do WaiterExpress</title>
  </head>
  <body>
    <h1>Política de Privacidade do WaiterExpress</h1>
    <h2>Seja Bem-vindo(a)!</h2>
    <p>Atualizado em: 16 de fevereiro de 2023.</p>
    <p>Esta política de privacidade inclui informações importantes sobre seus dados pessoais e nós encorajamos você a ler atentamente.</p>
    <p>O WaiterExpress respeita a privacidade de seus usuários e se compromete a proteger as informações fornecidas por eles. Essa Política de Privacidade explica como coletamos, usamos e divulgamos informações pessoais e não pessoais dos usuários.</p>
    <h2>Coleta de Informações</h2>
    <p>O WaiterExpress coleta informações pessoais e não pessoais dos usuários. As informações pessoais incluem nome, endereço de e-mail, número de telefone e informações de pagamento, quando o usuário opta por fazer um pagamento pelo site. As informações não pessoais incluem o tipo de dispositivo que o usuário está usando, o sistema operacional, informações sobre a navegação e outras informações analíticas.</p>
    <h2>Uso das informações</h2>
    <p>As informações coletadas são utilizadas para fornecer um serviço melhor e personalizado aos usuários, permitindo que os garçons sejam notificados sobre as solicitações feitas pelos clientes. Além disso, as informações podem ser usadas para enviar notificações, atualizações e outras informações relevantes sobre o serviço.</p>
    <h2>Divulgação das informações</h2>
    <p>O WaiterExpress não vende ou aluga informações pessoais dos usuários a terceiros. No entanto, podemos compartilhar informações com terceiros que prestam serviços em nosso nome, como processamento de pagamentos e suporte ao usuário. Além disso, podemos divulgar informações se for exigido por lei ou para proteger os direitos e a propriedade do WaiterExpress.</p>
    <h2>Segurança das informações</h2>
    <p>O WaiterExpress toma medidas de segurança para proteger as informações dos usuários contra acesso, uso ou divulgação não autorizados. No entanto, nenhum sistema é 100% seguro e não podemos garantir a segurança das informações fornecidas pelos usuários.</p>
    <h2>Alterações na Política de Privacidade</h2>
    <p>O WaiterExpress reserva-se o direito de modificar esta Política de Privacidade a qualquer momento. Recomendamos que os usuários revejam esta política regularmente para estar ciente das alterações.</p>
    <h2>Contato</h2>
    <p>Para entrar em contato conosco em relação a esta Política de Privacidade ou para exercer seus direitos de privacidade, entre em contato pelo e-mail: contato@waiterexpress.com.br.</p>
  </body>
</html>