<html>
  <head>
    <title>Request</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
      body {
        background-color: {{ background_color }};
      }

      h1 {
        color: white;
      }
      .container {
        display: flex;
        align-items: center;
        height: 100vh;
        justify-content: center;
        flex-direction: column;
      }

      img {
        height: 50%;
        width: 50%;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <h1>{{ message }}</h1>
        <br>
        <img src="{{ url_for('static', filename = image) }}" alt="Image">
    </div>
    <audio autoplay>
        <source src="{{ url_for('static', filename = sound) }}" type="audio/mpeg" >
    </audio>
</body>
</html>
