<html>
  <head>
    <title>Request</title>
    <meta name="title" content="Waiter Express - Chame o Garçom fácil e sem complicações para seus clientes">
    <meta name="description" content="Ofereça aos seus clientes a conveniência de solicitar a presença do garçom sem a necessidade de baixar aplicativos com Chame o Garçom. Simples, eficiente e sem complicações.">
    <meta name="Key-words" content="garçom, solicitação, telefone, QRCode, estabelecimento, jantar, almoço, café da manhã, conveniência, clientes, restaurante.">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://waiterexpress.com.br/">
    <meta property="og:title" content="Waiter Express - Chame o Garçom!">
    <meta property="og:description" content="Ofereça aos seus clientes a conveniência de solicitar a presença do garçom sem a necessidade de baixar aplicativos com Chame o Garçom. Simples, eficiente e sem complicações.">
    <meta property="og:image" content="{{ url_for('static', filename = 'images/1.png') }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://waiterexpress.com.br/">
    <meta property="twitter:title" content="Waiter Express - Chame o Garçom!">
    <meta property="twitter:description" content="Ofereça aos seus clientes a conveniência de solicitar a presença do garçom sem a necessidade de baixar aplicativos com Chame o Garçom. Simples, eficiente e sem complicações.">
    <meta property="twitter:image" content="{{ url_for('static', filename = 'images/1.png') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
      body {
        background-color: {{ background_color }};
      }

      h1 {
        color: white;
      }
      .container {
        display: flex;
        align-items: center;
        height: 100vh;
        justify-content: center;
        flex-direction: column;
      }

      img {
        height: 50%;
        //width: 50%;
      }
    </style>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4751689877189904"
    crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
        <h1>{{ message }}</h1>
        <br>
        <img src="{{ url_for('static', filename = image) }}" alt="Image">
    </div>
    <audio autoplay>
        <source src="{{ url_for('static', filename = sound) }}" type="audio/mpeg" >
    </audio>
</body>
</html>
