<!DOCTYPE html>
<html>
<head>
	<title>Termos de Uso do WaiterExpress</title>
</head>
<body>
	<h1>Termos de Uso do WaiterExpress</h1>
    <p>Atualizado em: 16 de fevereiro de 2023.</p>
	<p>Ao acessar o site do WaiterExpress, o usuário concorda com os seguintes termos de uso:</p>
	<ol>
		<li>Uso do Serviço: O WaiterExpress é um serviço que permite que os clientes solicitem a presença do garçom usando o celular. O uso do serviço é exclusivamente para o propósito de notificar o garçom. O usuário concorda em usar o serviço de forma responsável e legal, sem violar os direitos de terceiros.</li>
		<li>Cadastro: Para utilizar o serviço do WaiterExpress, o usuário deve se cadastrar e fornecer informações precisas e atualizadas. O usuário é responsável por manter a confidencialidade de sua conta e senha.</li>
		<li>Propriedade Intelectual: O WaiterExpress é de propriedade exclusiva da AerIA Criative Solutions. O usuário não tem permissão para usar o nome, logotipo ou marcas registradas do WaiterExpress sem autorização prévia por escrito. O usuário não pode reproduzir, modificar, distribuir, publicar, transmitir, criar trabalhos derivados ou explorar comercialmente qualquer parte do serviço sem autorização prévia por escrito.</li>
		<li>Isenção de Responsabilidade: O WaiterExpress não se responsabiliza por qualquer perda, dano ou lesão resultante do uso do serviço. O serviço é fornecido "tal como está" e o WaiterExpress não oferece garantias expressas ou implícitas. O WaiterExpress não se responsabiliza por quaisquer atrasos, interrupções ou erros no serviço.</li>
		<li>Alterações nos Termos de Uso: O WaiterExpress reserva-se o direito de modificar estes Termos de Uso a qualquer momento, sem aviso prévio. O uso contínuo do serviço após as alterações significa que o usuário concorda com os novos termos.</li>
		<li>Legislação Aplicável: Estes Termos de Uso são regidos pelas leis brasileiras e qualquer controvérsia resultante do uso do serviço será resolvida por meio de mediação ou arbitragem, com sede na cidade de São José dos Campos, São Paulo, Brasil.</li>
        <li>Termos Gerais: Este Termo de Uso constitui o acordo completo entre o usuário e a nossa empresa e substitui todos os acordos anteriores. Nossa falha em exercer ou aplicar qualquer direito ou disposição deste Termo não constitui uma renúncia a tal direito ou disposição. Caso alguma disposição deste Termo seja considerada inválida ou inexequível, as demais disposições permanecerão em pleno vigor e efeito.</li>
    </ol>

	<p>Ao utilizar o nosso serviço, o usuário concorda com todas as disposições deste Termo de Uso e de nossa <a href="{{ url_for('privacidade') }}">Política de Privacidade</a>. Para entrar em contato conosco em relação a estes Termos de Uso ou para relatar qualquer violação, entre em contato pelo e-mail: <a href="mailto:contato@waiterexpress.com.br">contato@waiterexpress.com.br</a></p>
</body>
</html>